
<div class="container" *ngIf="partidoFinal">

    <div class="row "  >
         <h4>Participantes</h4>
         <div class="col-12 col-md-4 mb-2">
           <select class="form-control" style="cursor: pointer;" [(ngModel)]="participante" id="">
             <option value="">Seleccione participante</option>
             <option value="panchin">PANCHIN</option>
             <option value="lozin">LOZIN</option>
             <option value="traidorcin">TRAIDORCIN</option>
             <option value="aleterin">ALETERIN</option>
             <option value="mari">MARI</option>
           </select>
         </div>
       
       </div>
       <div class="row mt-4">
           <div class="card col-12 justify-content-center w-50 text-center">
     
             <table class="table" >
               <thead>
                 <th  class="text-center  border-bottom">Resultados</th>
               </thead>
               <tbody>
                 <tr *ngFor="let par of partidosSemis" >
                   <div class="d-flex justify-content-between">
                     <div>
                     <img class="m-1" [src]="par.img1" width="20" height="20" alt="">{{par.equipo1}}
                     </div>
                     <div class="w-25">
                     <input  class="form-control "   type="text">
                     </div>
                     <div class="w-25">
                     <input  class="form-control " type="text">
                     </div>
                     <div>
                     <img class="m-1"  [src]="par.img2" width="20" height="20"  alt="">{{par.equipo2}}
                     </div>
                   </div>
                 </tr>
               </tbody>
             </table>
           </div>
      
       </div>
       <div class="row mt-4">
        <div class="card col-12 justify-content-center w-50 text-center">
  
          <table class="table" >
            <thead>
              <th  class="text-center  border-bottom">Resultados</th>
            </thead>
            <tbody>
              <tr >
                <div class="d-flex justify-content-between">
                  <div>
                  <img class="m-1" [src]="partidoFinal.img1" width="20" height="20" alt="">{{partidoFinal.equipo1}}
                  </div>
                  <div class="w-25">
                  <input  class="form-control "  type="text">
                  </div>
                  <div class="w-25">
                  <input  class="form-control " type="text">
                  </div>
                  <div>
                  <img class="m-1"  [src]="partidoFinal.img2" width="20" height="20"  alt="">{{partidoFinal.equipo2}}
                  </div>
                </div>
              </tr>
            </tbody>
          </table>
        </div>
   
    </div>
   
   
   </div>